Hello <%= @user.full_name %>,

<br><br>

<p>
  You have requested for password reset. 
</p>

<p>
  <b>Details are below :</b>
  <br>
  <b>Token : </b> <%= @user.reset_password_token %>
</p>

<p>
  <b>Click on following link to change your password</b>
  <br>
  <%= link_to "Change Your Password", change_password_url(token: @user.reset_password_token)%>
</p>

<p><b>Note : -</b> This token is valid for 4 hours only.</p>

Thanks
<br>
Hospital App Team
